.loader {
	display: block;
	position: relative;
	left: 50%;
	right: 50%;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 3.125px solid rgb(83, 81, 216);
	animation: spinner 1.2s linear infinite;
}

@keyframes spinner {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

.loader::before,
.loader::after {
	content: "";
	position: absolute;
	top: 6.25px;
	left: 21.875px;
	width: 6.25px;
	height: 6.25px;
	border-radius: 50%;
	background: tomato;
}

.loader::after {
	top: auto;
	bottom: 6.25px;
}
